* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

/* ============================ */

#container_carousel {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#container_carousel #positionCounter {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 70px;
    height: 30px;
    background-color: #00000070;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    z-index: 1;
}

#container_carousel #container_img {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#container_carousel #container_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: none;
    transition: 1s;
}

/* ============================== */

/* ### - PREV - ### */
#container_carousel #container_img img#fakeImg_prev {
    position: absolute;
    top: 0;
    left: -100%;
    animation-name: slidePrev;
    animation-duration: .55s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes slidePrev {
    from { left: -100%; }
    to { left: 0%;}
}

#container_carousel #container_img img.removeSlide_prev {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: removeSlide_prev;
    animation-duration: .55s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes removeSlide_prev {
    from { left: 0%; }
    to { left: 100%; }
}

/* ### - NEXT - ### */
#container_carousel #container_img img#fakeImg_next {
    position: absolute;
    top: 0;
    left: 100%;
    animation-name: slidenext;
    animation-duration: .55s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    /* animation-timing-function: step-start; */
}

@keyframes slidenext {
    from { left: 100%; }
    to { left: 0%;}
}

#container_carousel #container_img img.removeSlide_next {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: removeSlide_next;
    animation-duration: .55s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    /* animation-timing-function: step-start; */
}

@keyframes removeSlide_next {
    from { left: 0%; }
    to { left: -100%; }
}

/* ============================== */

#container_carousel .btn_carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 70px;
    font-size: 40px;
    display: flex;
    background-color: #00000099;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

#container_carousel #btn_carousel_left {
    left: 10px;
    padding-right: 5px;
}

#container_carousel #btn_carousel_right {
    right: 10px;
    padding-left: 5px;
}

#container_carousel .btn_carousel:hover {
    background-color: #ffffff99;
    color: black;
    border: 2px solid #ffffff;
    font-size: 60px;
    transition: .5s;
}

/* ============================== */

#container_carousel #container_img #dotSlide {
    position: absolute;
    width: 90%;
    max-width: 600px;
    padding: 10px 0;
    background-color: #ffffff40;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1;
}

#container_carousel #container_img #dotSlide > span {
    height: 7px;
    width: 0%;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(211, 14, 14);
    border: 1px solid white;
    animation-name: animateDotSlide;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes animateDotSlide {
    from { width: 0%; }
    to { width: 100%; }
}

#container_carousel #container_img #dotSlide > div {
    width: 40px;
    height: 5px;
    background-color: #00000080;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    box-sizing: content-box;
    pointer-events: auto;
    cursor: pointer;
}

#container_carousel #container_img #dotSlide > div:hover {
    border: 2px solid white;
}

#container_carousel #container_img #dotSlide > div.btn_dotSlide {
    background-color: #ffffff;
}